<div class="col-7 mx-auto">
  <h1><%= t(".title") %></h1>

  <%= render 'form', task: @task %>

  <div class="text-right mt-2">
    <%= link_to t("attributes.back"), tasks_path, id: "back" %>
  </div>
</div>
